.form {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 24px;
    padding: 15px;
    border-top: 1px solid rgb(205,208,210);
}

@media (max-width: 700px) {
    .form {
        grid-template-columns: 1fr;
    }
}

.form__input {
    padding: 7px;
    font-family: 'Lato', sans-serif;
    border: 1px solid rgb(205,208,210);
}

.form__input:focus, .form__input:hover {
    border: 1px solid rgb(69,69,69);
    outline: none;
}

.form__button {
    padding: 10px 25px;
    background: rgb(0,128,128);
    border: none;
    font-family: 'Lato', sans-serif;
    color: rgb(255,255,255);
    transition: background .4s, transform .4s;
}

.form__button:hover {
    background: rgb(0,142,142);
    transform: scale(1.2);
}