.task {
    margin: 0;
    padding: 15px;
    border-top: 1px solid rgb(205,208,210);
    list-style: none;
}

.task__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(205,208,210);
}

.task__item:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
}

.task__item--contentEmpty {
    color: rgb(170,170,170);
}

.task__item--taskHide {
    display: none;
}

.task__button {
    width: 30px;
    height: 30px;
    border: none;
    transition: background .4s;
}

.task__button--done {
    background: rgb(0,128,128);
}

.task__button--done:hover {
    background: rgb(0,148,148);
}

.task__content--done {
    text-decoration: line-through;
}

.task__button--remove {
    background: rgb(236,54,54);
}

.task__button--remove:hover {
    background: rgb(206,47,47);
}

@media (max-width: 500px) {
    .task__content {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
    }
}