@media (max-width: 700px) {
    .taskButtons {
        display: flex;
        flex-flow: column;
        align-items: center;
        width: 100%;
    }
}

.taskButtons__button {
    margin-bottom: 14px;
    background: none;
    border: none;
    color: rgb(41,128,185);
    cursor: pointer;
    transition: color .4s;
}

.taskButtons__button:hover {
    color: rgb(54,164,238);
}

.taskButtons__button:disabled {
    color: rgb(180,180,180);
    cursor: default;
}